html,
body,
:global(#root),
:global(#root)>div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

ul,
li {
  list-style: none;
}

a,
a:active,
a:link,
a:visited,
a:hover {
  color: #000;
}

a {
  text-decoration: none;
}

/* 格式化(清除默认间距) */

p,
h1,
h2,
h3,
ul,
li,
a {
  padding: 0;
  margin: 0;
  line-height: 1;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  font-size: 0.18rem;
  font-family: PingFangSC-Regular;
  color: rgba(187, 187, 187, 1);
  line-height: 0.26rem;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-size: 0.18rem;
  font-family: PingFangSC-Regular;
  color: rgba(187, 187, 187, 1);
  line-height: 0.26rem;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-size: 0.18rem;
  font-family: PingFangSC-Regular;
  color: rgba(187, 187, 187, 1);
  line-height: 0.26rem;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 0.18rem;
  font-family: PingFangSC-Regular;
  color: rgba(187, 187, 187, 1);
  line-height: 0.26rem;
}

/* 
 * antd override 
 */

.am-toast-text {
  border-radius: 8px !important;
  padding: 0 !important;
  min-width: 0 !important;
}

.am-toast>span {
  max-width: 100% !important;
}

/* searchbar */

.am-search {
  background-color: #fff !important;
}

.am-search-input {
  background-color: rgba(246, 246, 246, 1) !important;
}

.am-search-cancel {
  color: #457FFF !important;
}

/* tabs */

.am-tabs-default-bar-tab {
  color: #979797 !important;
  font-size: 0.15rem;
  font-family: PingFangSC-Regular;
}

.am-tabs-default-bar-tab-active {
  color: #111111 !important;
  font-family: PingFangSC-Semibold;
}

.am-tabs-default-bar-underline {
  border-color: #457FFF;
}

/* 
 * self 
 */

.switch-wrapper {
  position: relative;
}

.switch-wrapper>div {
  position: absolute;
}

/* 路由切换动效 */

.fade-enter {
  /* opacity: 0; */
  z-index: 1;
  transform: translateX(-100%);
}

.fade-enter.fade-enter-active {
  /* opacity: 1; */
  transition: all 100ms ease-in;
  transform: translateX(0);
}
